.main {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.main.hand {
  background: red;
}

.video {
  width: 480px;
  height: 360px;
  background-color: #333
}

.control {
  margin-top: 20px;
}
.btn {
  padding: 4px 16px;
  margin: 0 8px;
  font-size: 1.4rem;
}